.loggerContainer {
  width: 100%;
  max-width: 40rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

.form {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}

.inputs {
  background-color: var(--white1);
  padding: 1rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .07);
}

.label {
  display: flex;
  flex-direction: column;
}

.label > span {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.select {
  background-color: var(--white2);
  height: 2.5rem;
  padding: 0 1rem;
  max-width: 100%;
  border-radius: .2rem;
  border: 1px solid rgb(228, 228, 228);
  color: var(--dark1);
}

.sendButton {
  background-color: var(--dark1);
  height: 3rem;
  align-self: flex-end;
  padding: 0 2.5rem;
  border-radius: .2rem;
  border: transparent;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
}

.sendButton:hover {
  background-color: var(--dark2);
}

.sendButton:active {
  transform: translateY(.1rem);
}

@media screen and (max-width: 600px) {
  .loggerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .inputs {
    margin-top: 1rem;
    padding: 2rem;
  }

  .label > span {
    font-size: 1rem;
  }

  .select {
    height: 3rem;
    font-size: 1.2rem;
  }

  .sendButton {
    width: 100%;
    margin-top: 1rem;
  }
}