.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1.5rem auto;
  gap: 1rem;
  margin-bottom: 2rem;
}

.logo {
  max-width: 6rem;
}

.title {
  color: #fff;
  font-size: 1.5rem;
}

.title > span {
  color: #F9A826;
}

.nav {
  display: flex;
  background-color: var(--dark1);
  width: 16rem;
  min-height: 100vh;
  flex-direction: column;
  padding: 1rem;
}

.nav > a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}